[submodule "the-art-of-subdomain-enumeration"]
	path = the-art-of-subdomain-enumeration
	url = git@github.com:appsecco/the-art-of-subdomain-enumeration.git
[submodule "censys-enumeration"]
	path = censys-enumeration
	url = git@github.com:yamakira/censys-enumeration.git
[submodule "domains-from-csp"]
	path = domains-from-csp
	url = git@github.com:yamakira/domains-from-csp.git
[submodule "assets-from-spf"]
	path = assets-from-spf
	url = git@github.com:yamakira/assets-from-spf.git
